registry=https://artifactory.psdops.com/api/npm/npm
@babel:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/
@xtuc:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@vue:registry=https://registry.npmjs.org/
@politico:registry=https://nexus.politico.com/repository/npm-group-politico/
